@import "tailwindcss";

html, body, #root { height: 100%; }

body {
  background: url("./assets/noise-bg.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}